h1 {
    /* !important - first priority */
    color: salmon !important;
    text-align: center;
    font-size: 2rem;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#zuitt-motto {
    letter-spacing: 5px;
}

/* this H3 style doesnt apply
ID above style is prioritize
*/
h3 { 
    letter-spacing: 100px;
}

.offering-item {
    color: blueviolet;
    text-transform: uppercase;
}

input[required] {
    border: 2px solid red;
}

/* Adjaecnt sibling - tag next to it  */
h3 + img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

#bootcamp-learning-list li {
    color: red;
}

/* general sibling selector */

h2 ~ a {
    text-decoration: none;
}

/* child selector */

body > section > form > label {
    color: rgb(0, 0, 128);
}

/* more styling */

body {
    background-color: skyblue;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #ffffff;
}

a:hover {
    background-color: #b4d6de;
}

div {
    display: inline-block;
    float: right;
}

/* landing section */

section {
    height: 100vh;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

ol {
    list-style-type: none;
}

/* register section */

form {
    text-align: center;
    background-color: white;
    border: 2px solid black;
    height: 225px;
    width: 25vw;
    position: relative;
    left: 37.25%;
    padding-bottom: 20px;
}

button {
    background-color: salmon;
    color: white;
    border: 0;
    border-radius: 15px;
}