* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p {
    color:yellow;
}

h1 {
    font-size: 32px;
}

#header-text-2 {
    text-transform: uppercase;
}

.languages-background {
    background-color: salmon;
}

.tools-background {
    border: 2px solid grey;
}

img + ul {
    list-style-type: none;
}

section > img { /* or section img  */  
    width: 250px;
    border-radius: 6px;
}

h4 ~ p {
    text-align: right;
}

section > ul > li {
    letter-spacing: 6px;
}